@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.Login {
  @include login-layout;

  h2 {
    @include title-h2;
  }

  .formGroup {
    @include login-formgroup;

    label {
      @include login-formgroup-label;
    }

    input {
      @include login-formgroup-input;
    }

    .warning {
      @include login-formgroup-alert;
    }

    .visible {
      @include login-formgroup-alert-visible;
    }
  }

  .loginBtn,
  .signUpBtn {
    @include btn-column-common;
  }

  .loginBtn {
    @include btn-column-top;
    margin: 12px 0;
  }

  .find {
    margin-top: 32px;
    border-top: 1px solid var(--color-tertiary);
    padding-top: 24px;
    font-size: 13px;

    b {
      margin-left: 1px;
      color: var(--color-point);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
