@import "../abstracts/variables";

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

// scrollbar custom
::-webkit-scrollbar {
  width: 9px !important;
  height: 20px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(126, 126, 126, 0.226) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #46474736 !important;
  border-radius: 10px !important;
}

// drag custom
::-moz-selection {
  color: var(--color-secondary);
  background: var(--color-drag);
}

::selection {
  color: var(--color-secondary);
  background: var(--color-drag);
}
