.SearchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
  }

  input {
    margin-right: 35px;
    border: none;
    background-color: var(--color-tertiary);
    border-radius: 15px;
    padding: 8px;
    font-size: 13px;
  }
}
