.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 260px);

  strong {
    font-size: 130px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    font-size: 15px;
  }
}
