@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.SignUp {
  @include layout;
  justify-content: center;
  width: 18%;

  h2 {
    @include title-h2;
  }

  .fromGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: 600;

      &::before {
        content: "*";
        margin-right: 3px;
        color: var(--color-point);
      }
    }

    input {
      padding: 9px;
      background-color: transparent;
      color: var(--color-secondary);
      border: 1px solid var(--color-tertiary);
      border-radius: 2px;
    }
  }

  .signUpBtn {
    @include btn-column-common;
    @include btn-column-top;
    margin: 12px 0;
  }
}
