@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.SignUp {
  @include login-layout;

  h2 {
    @include title-h2;
  }

  .formGroup {
    @include login-formgroup;

    label {
      @include login-formgroup-label;

      &::before {
        content: "*";
        margin-right: 3px;
        color: var(--color-point);
      }
    }

    input {
      @include login-formgroup-input;
    }

    .warning {
      @include login-formgroup-alert;
    }

    .visible {
      @include login-formgroup-alert-visible;
    }
  }

  .signUpBtn {
    @include btn-column-common;
    @include btn-column-top;
    margin: 12px 0;
  }
}
